{% extends 'website/base.html' %}

{% block content %}
{% load static %}
<style>
        .page-banner.bg-image {
            background-image: url('/static/images/about/aboutus2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .pt-130 {
            padding-top: 130px;
        }
        .pb-130 {
            padding-bottom: 130px;
        }
        .team__item-image {
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
        .team__item-image img {
            width: 100%;
            height:100%;
            object-fit: cover;
            object-position: center;
        }
        .team__item-image {
            max-height: 100%; /* Ensure the image container does not exceed the height of the content */
            overflow: hidden; /* Hide any part of the image that overflows */
            display: flex; /* Align the image container with the content height */
            align-items: stretch; /* Stretch the image container to match content height */
        }
</style>
<main>
        <!-- Page banner area start here -->
        <section class="page-banner bg-image pt-130 pb-130">
            <div class="container">
                <h2 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">About Us</h2>
                <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                    <a href="{% url 'index' %}">Home :</a>
                    <span class="primary-color">About Us</span>
                </div>
            </div>
        </section>
        <!-- Page banner area end here -->


        <!-- History area start here -->
        <section class="about-two history-area pt-130 pb-130">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-6">
                        <div class="about-two__right-item">
                            <div class="section-header mb-4">
                                <h5 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                                <img src="{% static 'images/icon/leaf.svg' %}" alt="image"> OUR History</h5>
                                <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                                    History of Our
                                    Organization</h2>
                            </div>
                            <h5 class="pb-30 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                                a timeline of significant milestones and developments in Green AI's journey
                            </h5>
                                <ul class="wow fadeInDown" data-wow-duration="1.4s" data-wow-delay=".4s">
                                    <li><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                        Initial Projects
                                    </li>
                                </ul>
                                <p class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".8s">The organization began by launching pilot projects focused on integrating smart technologies in urban settings, which laid the groundwork for future expansions.</p>
                                <br>
                                <ul class="wow fadeInDown" data-wow-duration="1.4s" data-wow-delay=".4s">
                                    <li><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                        Partnership Development
                                    </li>
                                </ul>
                                <p class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".8s">Over the years, Green AI has formed strategic partnerships with various stakeholders, including government agencies and technology firms, to enhance its service offerings.</p>
                                <br>
                                <ul class="wow fadeInDown" data-wow-duration="1.4s" data-wow-delay=".4s">
                                    <li><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                        Product Innovations
                                    </li>
                                </ul>
                                <p class="wow fadeInDown" data-wow-duration="1.8s" data-wow-delay=".8s">The company has continuously innovated its product line, introducing eco-friendly solutions such as energy-efficient LED lighting and advanced telecommunications infrastructure.</p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="image">
                            <img src="{% static 'images/history/history.jpg' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History area end here -->

        <!-- Team area start here -->
        <section class="team team-two pt-130 pb-130 bg-image" data-background="{% static 'images/bg/banner1.jpg' %}">
            <div class="team-two__shape sway__animation d-none d-lg-block">
                <img class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="1s" src="{% static 'images/shape/team2.png' %}" alt="shape">
            </div>
            <div class="container">
                <div class="section-header text-center">
                    <h5 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <img src="{% static 'images/icon/leaf.svg' %}" alt="image"> OUR TEAM MEMBERS
                    </h5>
                    <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">Green AI Leadership Team</h2>
                </div>
                <div class="row g-4">
                    {% for member in team_members %}
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                            <div class="team__item team-two__item">
                                <div class="team__item-image">
                                    <img src="{{ member.image.url }}" alt="{{ member.name }}">
                                    <div class="team__item-image-icon social-icon">
                                        {% if member.facebook_url %}
                                            <a href="{{ member.facebook_url }}"><i class="fa-brands fa-facebook-f"></i></a>
                                        {% endif %}
                                        {% if member.twitter_url %}
                                            <a href="{{ member.twitter_url }}"><i class="fa-brands fa-twitter"></i></a>
                                        {% endif %}
                                        {% if member.linkedin_url %}
                                            <a href="{{ member.linkedin_url }}"><i class="fa-brands fa-linkedin-in"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <h3><a href="team-single.html">{{ member.name }}</a></h3>
                                <span>{{ member.role }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Team area end here -->


        <!-- Involved area start here -->
        <section class="involve-two help-area mt-130 mb-130">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="image pe-lg-5 pe-0">
                            <img src="{% static 'images/involve/vision_mission.jpg' %}" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="involve-two__item help-area__item">
                            <div class="section-header mb-4">
                                <h5 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s"><img
                                        src="{% static 'images/icon/leaf.svg' %}" alt="image">Vision & Mission</h5>
                                <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">Our Vision
                                </h2>
                                <p class="wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".6s">To lead in providing sustainable
                                    technology solutions that drive
                                    environmental conservation, reduce
                                    energy costs, and empower communities
                                    through digital connectivity and smart
                                    infrastructure.
                                </p>
                                <br>
                                <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">Our Mission
                                </h2>
                                <p class="wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".6s">To innovate and deliver eco-friendly
                                    technology solutions that reduce carbon
                                    footprints, promote sustainability, and
                                    support the digital transformation of
                                    communities in Kenya and beyond.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Involved area end here -->
    </main>

{% endblock %}