{% extends 'website/base.html' %}
{% block content %}
{% load static %}
<style>
        .page-banner.bg-image {
            background-image: url('/static/images/blog/blog.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .pt-130 {
            padding-top: 130px;
        }
        
</style>
<main>
        <!-- Page banner area start here -->
        <section class="page-banner bg-image pt-130 pb-130">
            <div class="container">
                <h2 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">latest blogs</h2>
                <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                    <a href="{% url 'index' %}">Home :</a>
                    <span class="primary-color">latest news :</span>
                    {% comment %} <span class="primary-color">Left Sidebar</span> {% endcomment %}
                </div>
            </div>
        </section>
        <!-- Page banner area end here -->

        <!-- Blog single area start here -->
        <section class="blog-slingle blog-area pt-130 pb-130">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-4">
                        <div class="right-item sub-bg">
                            <h4 class="mb-30">Search</h4>
                            <div class="search mb-40">
                                <input type="text" placeholder="Search here. . .">
                                <button><i class="fa-solid fa-search"></i></button>
                            </div>
                            <h4 class="mb-30">Categories</h4>
                            <ul class="right_list mb-40">
                                <li><a class="d-block pb-1 mb-2" href="#0">Business</a></li>
                                <li><a class="d-block pb-1 mb-2" href="#0">Job Market</a></li>
                                <li><a class="d-block pb-1 mb-2" href="#0">Marketing</a></li>
                                <li><a class="d-block pb-1 mb-2" href="#0">News</a></li>
                                <li><a class="d-block pb-1 mb-2" href="#0">Social Media</a></li>
                                <li><a class="d-block pb-1 mb-2" href="#0">Trends</a></li>
                                <li><a class="d-block" href="#0">Writing</a></li>
                            </ul>
                            <h4 class="mb-30">Recent Posts</h4>
                            <div class="recent-post p-0 bor-bottom pb-4 mb-4 sub-bg">
                                <div class="img"><img src="{% static 'images/blog/sm1.png' %}" alt="image"></div>
                                <div class="con">
                                    <span>10/01/2023</span>
                                    <h5><a href="#0">The blind people who train their own guide and go now</a></h5>
                                </div>
                            </div>
                            <div class="recent-post p-0 bor-bottom pb-4 mb-4 sub-bg">
                                <div class="img"><img src="{% static 'images/blog/sm2.png' %}" alt="image"></div>
                                <div class="con">
                                    <span>10/01/2023</span>
                                    <h5><a href="#0">The blind people who train their own guide and go now</a></h5>
                                </div>
                            </div>
                            <div class="recent-post p-0 bor-bottom pb-4 mb-4 sub-bg">
                                <div class="img"><img src="{% static 'images/blog/sm3.png' %}" alt="image"></div>
                                <div class="con">
                                    <span>10/01/2023</span>
                                    <h5><a href="#0">The blind people who train their own guide and go now</a></h5>
                                </div>
                            </div>
                            <div class="recent-post p-0 bor-bottom pb-4 sub-bg">
                                <div class="img"><img src="{% static 'images/blog/sm4.png' %}" alt="image"></div>
                                <div class="con">
                                    <span>10/01/2023</span>
                                    <h5><a href="#0">The blind people who train their own guide and go now</a></h5>
                                </div>
                            </div>
                            <h4 class="mb-30 mt-40">Tags</h4>
                            <div class="tags">
                                <a href="#0">nature</a>
                                <a href="#0">health</a>
                                <a href="#0">galaxy</a>
                                <a href="#0">creative</a>
                                <a href="#0">art</a>
                                <a href="#0">business</a>
                                <a href="#0">space</a>
                                <a href="#0">biology</a>
                                <a href="#0">environemnt</a>
                            </div>
                            <div class="image mt-40">
                                <img src="{% static 'images/blog/single4.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="item bor">
                            <a href="blog-single.html" class="image d-block mb-30">
                                <img src="{% static 'images/blog/single1.jpg' %}" alt="image">
                            </a>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="info">
                                    <span>Written By: <a href="#0">Marry Biden</a></span>
                                    <span class="info_dot"></span>
                                    <span>10/01/2023</span>
                                </div>
                                <div class="image-tag">
                                    <a href="#0">Nature</a>
                                    <a href="#0">Health</a>
                                </div>
                            </div>
                        </div>
                        <div class="item mb-65 py-0">
                            <h3 class="text-capitalize mt-30 mb-3"><a href="blog-single.html">Guide dog shortage: The
                                    blind peopain their</a>
                            </h3>
                            <p>Daily Star News published on Feb 2nd, 2022, Sangbad Protidin dated January 31st, 2022 and
                                HRCBM's investigation.
                                Bangladesh again witnessing uptick in violence.</p>
                            <a class="go_blog mt-30" href="blog-single.html"><i
                                    class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                        <div class="item bor">
                            <div class="image video_item d-block mb-30">
                                <img src="{% static 'images/blog/single1v.jpg' %}" alt="image">
                                <div class="video__btn-wrp">
                                    <div class="video-btn video-pulse">
                                        <a class="video-popup secondary-bg"
                                            href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I"><i
                                                class="fa-solid fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="info">
                                    <span>Written By: <a href="#0">Marry Biden</a></span>
                                    <span class="info_dot"></span>
                                    <span>10/01/2023</span>
                                </div>
                                <div class="image-tag">
                                    <a href="#0">Video</a>
                                    <a href="#0">Health</a>
                                </div>
                            </div>
                        </div>
                        <div class="item mb-65 py-0">
                            <h3 class="text-capitalize mt-30 mb-3"><a href="blog-single.html">A team of scientists from
                                    NASA's Jet Propulsion</a>
                            </h3>
                            <p>Daily Star News published on Feb 2nd, 2022, Sangbad Protidin dated January 31st, 2022 and
                                HRCBM's investigation.
                                Bangladesh again witnessing uptick in violence.</p>
                            <a class="go_blog mt-30" href="blog-single.html"><i
                                    class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                        <div class="item bor">
                            <a href="blog-single.html" class="image d-block">
                                <img src="{% static 'images/blog/single1a.jpg' %}" alt="image">
                            </a>
                            <div class="audio-sonunds mb-30">
                                <div class="audio-player">
                                    <div class="timeline">
                                        <div class="progress"></div>
                                    </div>
                                    <div class="controls">
                                        <div class="play-container">
                                            <div class="toggle-play play">
                                            </div>
                                        </div>
                                        <div class="time">
                                            <div class="current">0:00</div>
                                            <div class="divider">/</div>
                                            <div class="length"></div>
                                        </div>
                                        <div class="volume-container">
                                            <div class="volume-button">
                                                <i class="volume icono-volumeMedium fa-solid fa-volume-high"></i>
                                            </div>

                                            <div class="volume-slider">
                                                <div class="volume-percentage"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="info">
                                    <span>Written By: <a href="#0">Marry Biden</a></span>
                                    <span class="info_dot"></span>
                                    <span>10/01/2023</span>
                                </div>
                                <div class="image-tag">
                                    <a href="#0">Audio</a>
                                    <a href="#0">Business</a>
                                </div>
                            </div>
                        </div>
                        <div class="item p-0">
                            <h3 class="text-capitalize mt-30 mb-3"><a href="blog-single.html">There are also natural
                                    sources of methane - from</a>
                            </h3>
                            <p>Daily Star News published on Feb 2nd, 2022, Sangbad Protidin dated January 31st, 2022 and
                                HRCBM's investigation.
                                Bangladesh again witnessing uptick in violence.</p>
                            <a class="go_blog mt-30" href="blog-single.html"><i
                                    class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                        <div class="pt-4 bor-top mt-65">
                            <a class="blog-pegi" href="#0">01</a>
                            <a class="blog-pegi active" href="#0">02</a>
                            <a class="blog-pegi" href="#0">03</a>
                            <a href="#0"><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog single area end here -->
</main>

{% endblock %}