{% extends 'website/base.html' %}
{% block content %}
{% load static %}
<style>
    .page-banner.bg-image {
        background-image: url('/static/images/product/cart.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .pt-130 {
        padding-top: 130px;
    }
    .pb-130 {
        padding-bottom: 130px;
    }
</style>
<main>
        <!-- Page banner area start here -->
        <section class="page-banner bg-image pt-130 pb-130">
            <div class="container">
                <h2 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">Cart Page</h2>
                <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                    <a href="{% url 'index' %}">Home :</a>
                    <span class="primary-color">Cart</span>
                </div>
            </div>
        </section>
        <!-- Page banner area end here -->

        <!-- cart page area start here -->
        <section class="cart-page pt-130 pb-130">
            <div class="container">

                <div class="shopping-cart bor sub-bg">

                    <div
                        class="column-labels py-3 px-4 d-flex justify-content-between align-items-center fw-bold text-white text-uppercase">
                        <label class="product-details">Product</label>
                        <label class="product-price">Price</label>
                        <label class="product-quantity">Quantity</label>
                        <label class="product-line-price">Total</label>
                        <label class="product-removal">Edit</label>
                    </div>

                    <div class="product p-4 bor-top bor-bottom d-flex justify-content-between align-items-center">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/01.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Bamboo Rugs</h4>
                        </div>
                        <div class="product-price">12.99</div>
                        <div class="product-quantity">
                            <input type="number" value="2" min="1">
                        </div>
                        <div class="product-line-price">25.98</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>

                    <div class="product p-4 bor-bottom d-flex justify-content-between align-items-center">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/02.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Wood Planters</h4>
                        </div>
                        <div class="product-price">50.00</div>
                        <div class="product-quantity">
                            <input type="number" value="1" min="1">
                        </div>

                        <div class="product-line-price">50.00</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product p-4 bor-bottom d-flex justify-content-between align-items-center">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/03.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Wood Vases</h4>
                        </div>
                        <div class="product-price">45.99</div>
                        <div class="product-quantity">
                            <input type="number" value="1" min="1">
                        </div>

                        <div class="product-line-price">45.99</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product p-4 bor-bottom d-flex justify-content-between align-items-center">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/04.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Wood Clocks</h4>
                        </div>
                        <div class="product-price">99.99</div>
                        <div class="product-quantity">
                            <input type="number" value="2" min="1">
                        </div>

                        <div class="product-line-price">199.99</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product p-4 d-flex justify-content-between align-items-center">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/02.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Wood Tables</h4>
                        </div>
                        <div class="product-price">25.98</div>
                        <div class="product-quantity">
                            <input type="number" value="1" min="1">
                        </div>
                        <div class="product-line-price">25.98</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>

                    <div class="totals">
                        <div class="totals-item theme-color float-end mt-20">
                            <span class="fw-bold text-uppercase py-2">cart total =</span>
                            <div class="totals-value d-inline py-2 pe-2" id="cart-subtotal">399.97</div>
                        </div>
                    </div>

                </div>
                <!-- shopping-cart-mobile -->
                <div class="shopping-cart mobile-view bor sub-bg">

                    <div class="product p-4 bor-top bor-bottom">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/01.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Wood Toys</h4>
                        </div>
                        <div class="product-price">12.99</div>
                        <div class="product-quantity">
                            <input type="number" value="2" min="1">
                        </div>
                        <div class="product-line-price">25.98</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>

                    <div class="product p-4 bor-bottom">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/02.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Bamboo Lanterns</h4>
                        </div>
                        <div class="product-price">50.00</div>
                        <div class="product-quantity">
                            <input type="number" value="1" min="1">
                        </div>

                        <div class="product-line-price">50.00</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product p-4 bor-bottom">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/03.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Wood Vases</h4>
                        </div>
                        <div class="product-price">45.99</div>
                        <div class="product-quantity">
                            <input type="number" value="1" min="1">
                        </div>

                        <div class="product-line-price">45.99</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product p-4 bor-bottom">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/04.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Bamboo Baskets</h4>
                        </div>
                        <div class="product-price">99.99</div>
                        <div class="product-quantity">
                            <input type="number" value="2" min="1">
                        </div>

                        <div class="product-line-price">199.99</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product p-4">
                        <div class="product-details d-flex align-items-center">
                            <img src="assets/images/shop/02.jpg" alt="image">
                            <h4 class="ps-4 text-capitalize">Bamboo Blinds</h4>
                        </div>
                        <div class="product-price">25.98</div>
                        <div class="product-quantity">
                            <input type="number" value="1" min="1">
                        </div>
                        <div class="product-line-price">25.98</div>
                        <div class="product-removal">
                            <button class="remove-product">
                                <i class="fa-solid fa-x heading-color"></i>
                            </button>
                        </div>
                    </div>

                    <div class="totals">
                        <div class="totals-item theme-color float-end">
                            <span class="fw-bold text-uppercase py-2">cart total =</span>
                            <div class="totals-value d-inline py-2 pe-2">399.97</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- cart page area end here -->
</main>
{% endblock %}
