{% extends 'website/base.html' %}
{% block content %}
<style>
.page-banner.bg-image {
            background-image: url('/static/images/faq/faqs.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .pt-130 {
            padding-top: 130px;
        }
        .pb-130 {
            padding-bottom: 130px;
        }
</style>
<main>
    <!-- Page banner area start here -->
    <section class="page-banner bg-image pt-130 pb-130">
        <div class="container">
            <h2 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">Frequently Asked Questions</h2>
            <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                <a href="{% url 'index' %}">Home :</a>
                <span class="primary-color">FAQs</span>
            </div>
        </div>
    </section>
    <!-- Page banner area end here -->

    <!-- FAQ area start here -->
    <section class="faq-area pt-130 pb-130 sub-bg">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="accordion" id="accordionExample">
                        {% for faq in faqs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    {{ faq.question }}
                                </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                 aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-justify">{{ faq.answer }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ area end here -->
</main>
{% endblock %}
