{% extends 'website/base.html' %}
{% block content %}
{% load static %}
<style>
    .page-banner.bg-image {
        background-image: url('/static/images/partners/partners.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .pt-130 {
        padding-top: 130px;
    }
    .pb-130 {
        padding-bottom: 130px;
    }
</style>
<main>
    <!-- Page banner area start here -->
    <section class="page-banner bg-image pt-130 pb-130">
        <div class="container">
            <h2 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">Partners and Investors</h2>
            <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                <a href="{% url 'index' %}">Home :</a>
                <span class="primary-color">Partners and Investors</span>
            </div>
        </div>
    </section>
    <!-- Page banner area end here -->

    <!-- About area start here -->
    <section class="about-two pt-130 pb-130">
        <div class="about-two__shape-right d-none d-md-block bobble__animation">
            <img src="{% static 'images/shape/about-two-shape-right.png' %}" alt="shape">
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-6">
                    <div class="image">
                        <img src="{% static 'images/partners/partnerprogram.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-two__right-item">
                        <div class="section-header mb-4">
                            <h5 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s"><img
                                    src="{% static 'images/icon/leaf.svg' %}" alt="image"> GREEN AI PARTNER PROGRAMS</h5>
                            <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">Strategic initiatives by Green AI to foster collaboration and enhance market presence.
                            </h2>
                            <p class="wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".6s">These initiatives are designed to create a robust network that supports Green AI's mission of delivering sustainable technology solutions while driving mutual growth and success in the market.</p>
                        </div>
                        <ul class="wow mt-4 fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                            <li class="mb-20"><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                Strategic Alliances
                            </li>
                            <li class="mb-20"><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                collaboration with government bodies.
                            </li>
                            <li class="mb-20"><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                Support for Partners.
                            </li>
                            <li class="mb-20"><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                Joint Marketing Efforts
                            </li>
                            <li class="mb-20"><img class="pe-2" src="{% static 'images/icon/leaf.svg' %}" alt="icon">
                                Feedback Mechanisms.
                            </li>
                        </ul>
                        <div class="about_info d-flex align-items-center pt-60 wow fadeInUp"
                            data-wow-duration="1.9s" data-wow-delay=".9s">
                            <a href="about.html" class="btn-one"><span>Learm More</span> <i
                                    class="fa-solid fa-angles-right"></i></a>
                            <span class="bor-left d-none d-sm-block mx-4"></span>
                            <div class="info d-flex flex-wrap align-items-center">
                                <i class="fa-solid fa-phone-volume ring-animation"></i>
                                <div class="about_info_con">
                                    <span class="d-block text-capitalize">call any time</span>
                                    <a href="tel:+912659302003">+254 712 345 678</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end here -->

    <!-- Achievement area start here -->
    <section class="achievement" data-background="{% static 'images/bg/achievement-bg2.jpg' %}">
        <div class="container">
            <div class="row g-4 align-items-center justify-content-between">
                <div class="col-lg-5 achievement__bor-right wow fadeInUp" data-wow-duration="1.2s"
                    data-wow-delay=".2s">
                    <div class="achievement__item">
                        <h2 class="text-white pt-3 pb-3">Our trusted 
                            partners</h2>
                    </div>
                </div>
                <div class="col-lg-2 achievement__bor-right wow fadeInUp" data-wow-duration="1.4s"
                    data-wow-delay=".4s">
                    <div class="achievement__item text-center">
                        <img src="{% static 'images/icon/achieve1.png' %}" alt="icon">
                    </div>
                </div>
                <div class="col-lg-2 achievement__bor-right wow fadeInUp" data-wow-duration="1.6s"
                    data-wow-delay=".6s">
                    <div class="achievement__item text-center">
                        <img src="{% static 'images/icon/achieve2.png' %}" alt="icon">
                    </div>
                </div>
                <div class="col-lg-2 wow fadeInUp" data-wow-duration="1.8s" data-wow-delay=".8s">
                    <div class="achievement__item text-center">
                        <img src="{% static 'images/icon/achieve3.png' %}" alt="icon">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Achievement area end here -->

    <!-- Team area start here -->
    <section class="team pt-130 pb-130">
        <div class="container">
            <div class="section-header text-center">
                <h5 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                    <img src="{% static 'images/icon/leaf.svg' %}" alt="image"> OUR INVESTORS
                </h5>
                <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">green AI investors</h2>
            </div>
            <div class="row g-4">
                {% for investor in investors %}
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                    <div class="team__item">
                        <div class="team__item-image">
                            {% if investor.image %}
                                <img src="{{ investor.image.url }}" alt="{{ investor.name }}">
                            {% else %}
                                <img src="{% static 'images/team/default.png' %}" alt="{{ investor.name }}">
                            {% endif %}
                            <div class="team__item-image-icon social-icon">
                                {% if investor.facebook_url %}
                                    <a href="{{ investor.facebook_url }}"><i class="fa-brands fa-facebook-f"></i></a>
                                {% endif %}
                                {% if investor.twitter_url %}
                                    <a href="{{ investor.twitter_url }}"><i class="fa-brands fa-twitter"></i></a>
                                {% endif %}
                                {% if investor.linkedin_url %}
                                    <a href="{{ investor.linkedin_url }}"><i class="fa-brands fa-linkedin-in"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <h3><a href="team-single.html">{{ investor.name }}</a></h3>
                        <span>{{ investor.position }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Team area end here -->

</main>
{% endblock %}
