{% extends 'website/base.html' %}
{% block content %}
{% load static %}
<style>
        .page-banner.bg-image {
            background-image: url('/static/images/product/product1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .pt-130 {
            padding-top: 130px;
        }
        .pb-130 {
            padding-bottom: 130px;
        }
        .project__image {
            width: 100%;
            height: 100%; /* Set height to ensure the image container has a fixed height */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .project__image img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain; /* Ensures the entire image is visible */
            object-position: center; /* Centers the image */
        }

        .item img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
</style>
<main>
        <!-- Page banner area start here -->
        <section class="page-banner bg-image pt-130 pb-130">
            <div class="container">
                <h2 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">Products</h2>
                <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                    <a href="{% url 'index' %}">Home :</a>
                    <span class="primary-color">Products</span>
                </div>
            </div>
        </section>
        <!-- Page banner area end here -->

        <!-- Project area start here -->
        <section class="project project-right sub-bg pt-130 pb-130">
            <div class="project__wrp">
                <div class="swiper have-bg project-slider d-none d-lg-block">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="project__image project-right__image">
                                <img src="{% static 'images/product/fibrecables.jpg' %}" alt="Fibre Cables">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project__image project-right__image">
                                <img src="{% static 'images/product/ledlights.jpg' %}" alt="Project Image 02">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project__image project-right__image">
                                <img src="{% static 'images/product/installation.jpg' %}" alt="Project Image 03">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-6 ps-4 bor-right py-lg-5">
                            <div class="section-header pr-20">
                                <h5 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s"><img
                                        src="{% static 'images/icon/leaf.svg' %}" alt="image"> OUR products</h5>
                                <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">Some
                                    of the products we offer</h2>
                                <p class="wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".6s">we are an
                                    organization engaged in pioneering the future of smart city infrastructure with innovative
                                    solutions that combine 5G connectivity, WiFi access, LED lighting, and
                                    environmental monitoring. 
                            </div>
                            <div class="arry-btn mb-4 d-block d-lg-none">
                                <button class="arry-prev project-arry-prev"><i
                                        class="fa-light fa-chevron-left"></i></button>
                                <button class="ms-3 active arry-next project-arry-next"><i
                                        class="fa-light fa-chevron-right"></i></button>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-4">
                                    <div class="wrp">
                                        <div class="pegi-number pt-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="swiper project-slider2">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="project__item">
                                                    <h3>Fibre Cables</h3>
                                                    <p>Durable, high-quality fibre cables for telecommunication companies.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project__item">
                                                    <h3>Triple Play 3-in-1 LED Lights</h3>
                                                    <p>Energy-saving LED lights offer street
                                                        lighting, EV charging, and advertising
                                                        capabilities. Available in street light
                                                        and in-house versions, they save up
                                                        to 30% in power consumption
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project__item">
                                                    <h3>Installation Services</h3>
                                                    <p>Comprehensive installation services for all products, including EV charging systems                      development
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="arry-btn mt-65 d-none d-lg-block">
                                <button class="arry-prev project-arry-prev"><i
                                        class="fa-light fa-chevron-left"></i></button>
                                <button class="ms-3 active arry-next project-arry-next"><i
                                        class="fa-light fa-chevron-right"></i></button>
                            </div>
                            <div class="col-lg-6">
                                <div class="swiper project-slider mt-5 d-block d-lg-none">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img src="{% static 'images/project/fibrecables.jpg' %}" alt="image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img src="{% static 'images/project/led-lights.jpg' %}" alt="image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img src="{% static 'images/project/installation.jpg' %}" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project area end here -->

      
        <!-- Shop page area start here -->
        <div class="shop pt-130 pb-130">
            <div class="container">
                <div class="section-header pr-20">
                    <h5 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <img src="{% static 'images/icon/leaf.svg' %}" alt="image"> E-commerce section
                    </h5>
                    <h2 class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                        You can purchase our products here
                    </h2>
                </div>
                <div class="row g-4">
            <!-- Products List Section -->
            <div class="col-lg-8">
                <div
                    class="top-bar sub-bg mb-4 d-flex flex-wrap justify-content-between align-items-center main-bg radius10 px-4 py-3">
                    <span>Showing {{ products.start_index }}-{{ products.end_index }} of {{ total_results }} results</span>
                </div>
                <div class="product light">
                    <div class="container">
                        <div id="product-list" class="row g-4">
                            {% for product in products %}
                            <div class="col-md-4">
                                <div class="item">
                                    {% if product.image %}
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <img src="{% static 'images/product/default.png' %}" alt="{{ product.name }}">
                                    {% endif %}
                                    <div class="content">
                                        <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                        {% if product.initial_price %}
                                        <del>Kshs.{{ product.initial_price }}</del>
                                        {% endif %}
                                        <span>Kshs.{{ product.current_price }}</span>
                                    </div>
                                    <div class="icon">
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                        <a href="#0" class="active"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="pt-30 bor-top mt-65">
                            {% for page_num in products.paginator.page_range %}
                                {% if page_num <= 3 or page_num == products.paginator.num_pages %}
                                    {% if products.number == page_num %}
                                        <a href="?page={{ page_num }}" class="blog-pegi active">{{ page_num }}</a>
                                    {% else %}
                                        <a href="?page={{ page_num }}" class="blog-pegi">{{ page_num }}</a>
                                    {% endif %}
                                {% elif page_num == products.number or page_num == products.paginator.num_pages %}
                                    <!-- Display the current page number when beyond 3 or the last page -->
                                    <a href="?page={{ page_num }}" class="blog-pegi active">{{ page_num }}</a>
                                {% elif page_num == 4 %}
                                    <span class="blog-pegi">...</span>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                                        <a href="?page={{ products.next_page_number }}" class="blog-pegi-arrow">
                                <i class="fa-solid blog_pegi_arrow fa-arrow-right-long"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Search Section -->
            <div class="col-lg-4">
                <div class="blog-slingle">
                    <div class="right-item sub-bg">
                        <h4 class="mb-30">Search</h4>
                        <div class="search mb-40">
                            <input type="text" placeholder="Search here. . .">
                            <button><i class="fa-solid fa-search"></i></button>
                        </div>
                        <h4 class="mb-30">Categories</h4>
                        <ul class="right_list mb-40">
                            <li><a class="d-block pb-1 mb-2" href="#0">LED Lights</a></li>
                            <li><a class="d-block pb-1 mb-2" href="#0">Charging Stations</a></li>
                            <li><a class="d-block pb-1 mb-2" href="#0">Installation Services</a></li>
                        </ul>
                        <h4 class="mb-30 mt-40">Hot Items</h4>
                        <div class="swiper hot-items__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image">
                                        <img src="{% static 'images/product/product8.png' %}" alt="image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image">
                                        <img src="{% static 'images/product/product9.png' %}" alt="image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image">
                                        <img src="{% static 'images/product/product10.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop page area end here -->
</main>
{% endblock %}
