{% extends "website/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}
<style>
        .page-banner.bg-image {
            background-image: url('/static/images/sustainability/sustainability.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .pt-130 {
            padding-top: 130px;
        }
        .pb-130 {
            padding-bottom: 130px;
        }
        .project-five__image {
            width: 100%;
            height: 420px;
            object-fit: cover;
            object-position: center;
        }
        .project-five__image img {
            width: 100%;
            height: 100%; /* Ensure the image height matches the container height */
            object-fit: cover;
            object-position: center;
        }

        .project-five__image {
            max-height: 100%; /* Ensure the image container does not exceed the height of the content */
            overflow: hidden; /* Hide any part of the image that overflows */
            display: flex; /* Align the image container with the content height */
            align-items: stretch; /* Stretch the image container to match content height */
        }
</style>
<main>
        <!-- Page banner area start here -->
        <section class="page-banner bg-image pt-130 pb-130">
            <div class="container">
                <h2 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">Sustainability</h2>
                <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                    <a href="{% url 'index' %}">Home :</a>
                    <span class="primary-color">Sustainability</span>
                </div>
            </div>
        </section>
        <!-- Page banner area end here -->

        <!-- Project one banner area start here -->
        <section class="project-banner pt-130 pb-130">
            <div class="container">
                <div class="banner-three banner-five">
                    <div class="swiper banner-three__slider banner-five__slider">
                        <div class="swiper-wrapper">
                            {% for initiative in initiatives %}
                            <div class="swiper-slide">
                                <div class="slide-bg project-banner__bg"
                                    style="background-image: url('{{ initiative.image.url }}');"></div>
                                <div class="container">
                                    <div class="banner-three__content project-banner__content banner-five__content">
                                        <h2 class="text-white" data-animation="fadeInUp" data-delay="1s">{{ initiative.title }}</h2>
                                        <div class="about-two__right-item" data-animation="fadeInUp" data-delay="1.4s">
                                            <div class="about_info d-flex align-items-center pt-65">
                                                <a href="{{ initiative.get_absolute_url }}" class="btn-one-light"><span>view details</span> 
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </a>
                                                <span class="bor-left d-none d-sm-block mx-4"></span>
                                                <div class="info d-flex flex-wrap align-items-center">
                                                    <i class="fa-solid bg-white border-0 fa-phone-volume ring-animation"></i>
                                                    <div class="about_info_con">
                                                        <span class="d-block text-capitalize text-white">call any time</span>
                                                        <a class="text-white" href="tel:+254712345678">+254 712 345 678</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="banner-five__arry-btn">
                        <button class="arry-prev mb-15 banner-five__arry-prev"><i
                                class="fa-light fa-chevron-left"></i></button>
                        <button class="arry-next banner-five__arry-next"><i
                                class="fa-light fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project one banner area end here -->

        
        <!-- Project area start here -->
        <section class="project-five">
            <div class="row g-0">
                {% for item in sustainability %}
                    <!-- Image and Content for each sustainability item -->
                    <div class="col-xxl-3 wow fadeInDown col-lg-6" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <div class="project-five__image">
                            <img src="{{ item.thumbnail_img.url }}" alt="{{ item.title }}">
                        </div>
                    </div>
                    <div class="col-xxl-3 wow fadeInDown col-lg-6" data-wow-duration="1.4s" data-wow-delay=".4s">
                        <div class="project-five__item sub-bg">
                            <div class="project-five__content bg-white">
                                <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                <p>{{ item.content|truncatewords:20|safe }}</p>
                                <a href="{{ item.get_absolute_url }}" class="btn-two"><span>read more</span> <i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagi-wrp mt-65 justify-content-center wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                {% for page_num in sustainability.paginator.page_range %}
                    {% if sustainability.number == page_num %}
                        <a href="?page={{ page_num }}" class="pagi-btn active">{{ page_num }}</a>
                    {% else %}
                        <a href="?page={{ page_num }}" class="pagi-btn">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <!-- Project area end here -->


        <!-- achievement area start here -->
        <section class="achievement-five mt-130 mb-130">
            <div class="container">
                <div class="achievement-five__wrp bg-image" data-background="{% static 'images/bg/CSR.jpg' %}">
                    <div class="row g-4 align-items-center justify-content-between">
                        <div class="col-lg-5">
                            <div class="achievement-five__item">
                                <h3 class="wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">CSR Projects</h3>
                                <a href="{% url 'blogs' %}" class="btn-two-light wow fadeInUp mt-50" data-wow-duration="1.2s"
                                    data-wow-delay=".2s"><span>view more</span> <i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>

                        {% for csr in csr_data %}
                        <div class="col-lg-2 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".{{ forloop.counter|add:1 }}s">
                            <div class="achievement-five__count">
                                <h2 class="count">{{ csr.number|intcomma }}</h2>
                                <h5>{{ csr.name }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="achievement-five__bg-overlay">
                        <img src="{% static 'images/bg/achievement-bg-image.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- achievement area end here -->

</main>
{% endblock %}