{% load static %}
<!-- Footer area start here -->
    <footer class="footer bg-image" data-background="{% static 'images/bg/footer-bg.jpg' %}">
        <div class="container">
            <div class="pt-65 pb-65">
                <div class="row g-4">
                    <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <div class="footer__item">
                            <div class="footer__item-title">
                                <h4>about green aI</h4>
                                <span class="footer__item-title-line"></span><span
                                    class="footer__item-title-line2"></span>
                            </div>
                            <p>Green AI is pioneering the future of smart city infrastructure with innovative solutions that combine 5G connectivity, WiFi access, LED lighting, and environmental monitoring.</p>
                            {% comment %} <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29581.552527417!2d-77.04440883230183!3d38.80089850193032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b0f02c6539a9%3A0xacc6091466dd9068!2s901%20N%20Pitt%20St%20Suite%20170%2C%20Alexandria%2C%20VA%2022314%2C%20USA!5e0!3m2!1sen!2sbd!4v1694324425557!5m2!1sen!2sbd"
                                class="footer__item-map-popup map-popup">View Map <i
                                class="fa-solid fa-location-arrow"></i></a> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                        <div class="footer__item">
                            <div class="footer__item-title">
                                <h4>Get in touch!</h4>
                                <span class="footer__item-title-line"></span><span
                                    class="footer__item-title-line2"></span>
                            </div>
                            <ul>
                                <li class="pb-3"><a href="#0"><i
                                            class="fa-solid fa-location-dot pe-1 primary-color"></i>
                                        Westport Industrial City
                                    </a>
                                </li>
                                <li class="pb-3"><a href="tel:+4065550120"><i
                                            class="fa-solid fa-phone-volume pe-1 primary-color"></i>
                                        (254) 712-345-678
                                    </a></li>
                                <li><a href="#0"><i class="fa-solid fa-envelope pe-1 primary-color"></i>
                                        info@greenai.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".6s">
                        <div class="footer__item">
                            <div class="footer__item-title">
                                <h4>Quick Links</h4>
                                <span class="footer__item-title-line"></span><span
                                    class="footer__item-title-line2"></span>
                            </div>
                            <ul>
                                <li class="pb-1"><a href="service-single.html"><i
                                            class="fa-solid fa-chevron-right pe-1 primary-color"></i> Water Conservation
                                    </a>
                                </li>
                                <li class="pb-1"><a href="service-single.html"><i
                                            class="fa-solid fa-chevron-right pe-1 primary-color"></i> Eco System
                                    </a>
                                </li>
                                <li class="pb-1"><a href="service-single.html"><i
                                            class="fa-solid fa-chevron-right pe-1 primary-color"></i> Plastic Recycleing
                                    </a>
                                </li>
                                <li class="pb-1"><a href="service-single.html"><i
                                            class="fa-solid fa-chevron-right pe-1 primary-color"></i> Urban planning
                                    </a>
                                </li>
                                <li><a href="service-single.html"><i
                                            class="fa-solid fa-chevron-right pe-1 primary-color"></i> Save Green
                                        House
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-duration="1.8s" data-wow-delay=".8s">
                        <div class="footer__item">
                            <div class="footer__item-title">
                                <h4>recent news</h4>
                                <span class="footer__item-title-line"></span><span
                                    class="footer__item-title-line2"></span>
                            </div>
                            <ul class="footer__item-blog">
                                <li class="pb-3">
                                    <img src="{% static 'images/footer/01.png' %}" alt="image">
                                    <div class="ms-3">
                                        <h4><a href="blog-single.html">Close up picture of the sapling</a></h4>
                                        <span>2 weeks ago</span>
                                    </div>
                                </li>
                                <li>
                                    <img src="{% static 'images/footer/02.png' %}" alt="image">
                                    <div class="ms-3">
                                        <h4><a href="blog-single.html">Close up picture of the sapling</a></h4>
                                        <span>2 weeks ago</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <p>&copy; Copyright <script>document.write(new Date().getFullYear())</script> <a href="#0">Green AI</a> All Rights Reserved</p>
        </div>
    </footer>
    <!-- Footer area end here -->